<div class="menu-god">
    <div class="common-category">
        <div class="flash-sale">
            <div class="sales-text">
                <p>Wishlist (4)</p>
            </div>
            <div class="arrow">
                Move All To Bag
            </div>
        </div>
        <div class="slider">
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="wish-list">
                            <img src="assets/wishlist/trash.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/wishlist/bag.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="wish-list">
                            <img src="assets/wishlist/trash.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/wishlist/speaker.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="wish-list">
                            <img src="assets/wishlist/trash.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/wishlist/joystick.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="wish-list">
                            <img src="assets/wishlist/trash.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/wishlist/coat.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="common-category">
        <div class="flash-sale">
            <div class="today">
                <p class="today-text">Just For You</p>
            </div>
            <div class="arrow">
                See All
            </div>
        </div>
        <div class="slider">
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="view">
                            <img src="assets/Home/eye.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/wishlist/ideapad.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                    <div class="rating">
                        <ngx-stars [readonly]="true" [size]="1" [initialStars]="4.5" [color]="'#FFAD33'"></ngx-stars>
                        <p class="reviews">(43)</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="view">
                            <img src="assets/Home/eye.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/Home/pc.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                    <div class="rating">
                        <ngx-stars [readonly]="true" [size]="1" [initialStars]="4.5" [color]="'#FFAD33'"></ngx-stars>
                        <p class="reviews">(49)</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="view">
                            <img src="assets/Home/eye.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/Home/joystick.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                    <div class="rating">
                        <ngx-stars [readonly]="true" [size]="1" [initialStars]="4.5" [color]="'#FFAD33'"></ngx-stars>
                        <p class="reviews">(67)</p>
                    </div>
                </div>
            </div>
            <div class="sales-item">
                <div class="sale">
                    <div class="discount">
                        <p>-40%</p>
                    </div>
                    <div class="eye-quick">
                        <div class="view">
                            <img src="assets/Home/eye.png" alt="" />
                        </div>
                    </div>
                    <div>
                        <img src="assets/Home/keyboard.png" />
                    </div>
                    <div class="add-to-cart">Add to Cart</div>
                </div>
                <div class="item-details">
                    <p class="item-name">HAVIT HV-G92 Gamepad</p>
                    <div class="rate">
                        <p class="offer">$120</p>
                        <p class="old-price">$160</p>
                    </div>
                    <div class="rating">
                        <ngx-stars [readonly]="true" [size]="1" [initialStars]="4.5" [color]="'#FFAD33'"></ngx-stars>
                        <p class="reviews">(88)</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>