<div class="menu-god">
    <div class="nav">
        <p class="nav-home">Home /</p>
        <p class="nav-about">Contact</p>
    </div>
    <div class="content">
        <div class="call-write">
            <div class="call-write-content">
                <p>Call To Us</p>
                <p>We are available 24/7, 7 days a week.</p>
                <p>Phone: +8801611112222</p>
                <hr>
                <p>Write To Us</p>
                <p>Fill out our form and we will contact you within 24 hours.</p>
                <p>Emails: customerexclusive.com</p>
                <p>Emails: supportexclusive.com</p>
            </div>
        </div>
        <div class="queries"> query</div>
    </div>
</div>