<div>
  <div class="dark-header">
    <div class="header-text">
      <p>
        Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
        <b class="shop-now">Shop Now</b>
      </p>
    </div>
    <div class="language">
      <select>
          <option value="english">English</option>
          <option value="spanish">French</option>
      </select>
  </div>
  
  </div>
  <div class="nav-container">
    <div class="exclusive">Exclusive</div>
    <div class="navBar">
      <p>Home</p>
      <p>Contact</p>
      <p>About</p>
      <p>Sign Up</p>
    </div>
    <div class="search-cart">
      <input  type="text" placeholder="What are you looking for?" />
      <img class="search" src="assets/navbar/search.png" alt="search image" />
      <img class="fav" src="assets/navbar/fav.png"  alt="favorite image" />
      <img src="assets/navbar/cart.png" width="20" height="20" alt="cart image" />
    </div>
  </div>
  <hr />
</div>
<router-outlet></router-outlet>