.dark-header {
  background-color: black;
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
}

.header-text {
  color: white;
  text-align: center;
  width: 85%;
}

.shop-now {
  margin-left: 10px;
  text-decoration: underline;
}

.language {
  width: 15%;
  color: white;
  text-align: center;
}

.language select {
  background-color: black;
  color: white;
  border: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.exclusive {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: x-large;
  font-weight: 900;
}

.navBar {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navBar p {
  margin: 0 15px; /* Add margin around each <p> tag */
  color: black;
  font-weight: 500;
}

.navBar p:hover {

  color: #DB4444;;
  text-decoration:underline;
}

.navBar a {  
  text-decoration: none;
}

.search-cart {
  display: flex;
  flex: 1;
  text-align: right;
  align-items: center;
}

.search-cart input[type="text"] {
  background-color: rgba(128, 128, 128, 0.084);
  border: none;
  font-size: x-small;
  outline: none;
}

.search {
  background-color: rgba(128, 128, 128, 0.084);
  height: 16px;
  width: 16px;
  margin-right: 30px;
}


.fav {
  width: 18px;
  height: 16px;
  padding-right: 20px;
}

hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid lightgray;
}

.footer {
  display: flex;
  width: 100%;
  height: 440px;
  background-color: black;
  align-items: flex-start;
}
.exclusive-footer {
  margin-left: 8%;
}

.exclusive-footer input {
  outline: white solid;
  background-color: black;
}

.exclusive-footer, .support, .account, .quick-link, .download {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  margin-top: 5%;
}


.footer-p {
  font-size: 16px;
  color: white;
  margin-top: 3px;
}

.footer-small-text {
  font-size: small;
  color: white;
}

.footer-header {

  font-size: larger;
  color: white;
}

.footer h4 {
  font-size: medium;
  color: white;
  margin-top: 5px;
}

.footer-img {
  margin-top: 12px;
}


@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
  }

  .navBar {
    margin-top: 10px;
  }

  .search-cart {
    margin-top: 10px;
    text-align: center;
  }
}
