<div>
  <div class="dark-header">
    <div class="header-text">
      <p>
        {{ 'headerMessage' | translate }}
        <b class="shop-now">{{ 'shopNow' | translate }}</b>
      </p>
    </div>
    <div class="language">
      <select (change)="switchLang($event)">
        <option value="en">English</option>
        <option value="fr">French</option>
      </select>
    </div>
  </div>
  <div class="nav-container">
    <div class="exclusive">
      {{ 'exclusive' | translate }}
    </div>
    <div class="navBar">
      <a href="">
        <p>{{ 'home' | translate }}</p>
      </a>
      <a href="/contact">
        <p>{{ 'contact' | translate }}</p>
      </a>
      <a href="/about">
        <p>{{ 'about' | translate }}</p>
      </a>
      <a href="/sign-up">
        <p>{{ 'signUp' | translate }}</p>
      </a>
    </div>
    <div class="search-cart">
      <input type="text" [placeholder]="'searchPlaceholder' | translate" />
      <img class="search" src="assets/navbar/search.png" alt="search image" />
      <a href="/wishlist"> <img class="fav" src="assets/navbar/fav.png" alt="favorite image" /></a>
      <img src="assets/navbar/cart.png" width="20" height="20" alt="cart image" />
    </div>
  </div>
  <hr />
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="exclusive-footer">
    <p class="footer-header"> {{ 'exclusive' | translate }}</p>
    <h4>Subscribe</h4>
    <p class="footer-p">Get 10% off your first order</p>
    <input type="text" placeholder="Enter your email">
  </div>
  <div class="support">
    <p class="footer-header">Support</p>
    <p class="footer-p">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
    <p class="footer-p">exclusivegmail.com</p>
    <p class="footer-p">+88015-88888-9999</p>
  </div>
  <div class="account">
    <p class="footer-header">Account</p>
    <p class="footer-p">My Account</p>
    <p class="footer-p">Login / Register</p>
    <p class="footer-p">cart</p>
    <p class="footer-p">Wishlist</p>
    <p class="footer-p">shop</p>
  </div>
  <div class="quick-link">
    <p class="footer-header">Quick Link</p>
    <p class="footer-p">privacy policy</p>
    <p class="footer-p">Terms of Use</p>
    <p class="footer-p">FAQ</p>
    <p class="footer-p">Contact</p>
  </div>
  <div class="download">
    <p class="footer-header">Download App</p>
    <p class="footer-small-text">Save $3 with App New User Only</p>
    <img src="assets/Home/footer/download.png" width="198px" height="84px" alt="">
    <img class="footer-img " src="assets/Home/footer/social.png" width="168px" height="24px" alt="">
  </div>
</div>