<div class="sign-up">
    <div class="signUp-img">
        <img src="assets/signUp/signup.png" alt="">
    </div>
    <div class="signUp-form">
        <div class="signUp-content">
            <h1>Create an Account</h1>
            <p class="details">Enter your details below</p>
            <form class="signUp-input" action="">
                <input type="text" placeholder="Name">
                <hr>
                <input type="text" placeholder="Email or Phone Number">
                <hr>
                <input type="password" placeholder="Password">
                <hr>
            </form>
            <button class="account">Create Account</button>
            <button class="google"> <img src="assets/signUp/Google.png" alt="">Sign up with Google</button>
        </div>
        <p class="have-account">Already have account? <span class="login">Login</span></p>
    </div>
</div>